body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    text-align: center;
    background-color: grey;
}

input[type="button"] {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 80px; 
    border-radius: 35px; 
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold;
}
h1, label{
    color: white;
}